 /* typeA - intro */
.wrap.intro-a{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrap.intro-a .mo{
    display: none;
}
.intro-a .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 38rem;
    width: 38rem;
    padding: 6rem;
}
.intro-a header h1{
    height: 4.4rem;
}
.intro-a header h1 img{
    height: 100%;
    object-fit: contain;
}
.intro-a header ul{
    margin-top: 11.6rem;
}
.intro-a header ul li{
    padding-bottom: 1.5rem;
    background: url(../images/ico-arr-right.png) no-repeat 100% 1.2rem / 0.8rem auto;
    color: #222;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: -0.036rem;
    border-bottom: 0.1rem solid rgba(34, 34, 34, 0.60);
    cursor: pointer;
    transition: all .3s ease 0s;
}
.intro-a header ul li:hover{
    border-bottom: 0.2rem solid #222;
    font-weight: 700;
}
.intro-a header ul li + li{
    margin-top: 2.4rem;
}
.intro-a footer{
    color: #222;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: -0.03rem;
}
.intro-a footer span{
    font-weight: 350;
}
.intro-a .right{
    position: relative;
    flex: 1;
    padding-top: 7rem;
    background: #F5F6FA;;
}
.intro-a .right::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 20%;
    background: #021136;
}
.intro-a main{
    max-width: 154rem;
    padding: 0 8rem;
}
.intro-a .intro-main-t{
    display: flex;
    gap:6rem;
}
.intro-a .intro-main-t > div{
    width: 96rem;
}
.intro-a .img-sns{
    max-width: 16rem;
}
.intro-a .logo-name{
    width: 26rem;
    padding-bottom: 4rem;
    object-fit: contain;
}
.intro-a .intro-main-t .txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1
}
.intro-a .intro-main-t ul{
    width: 100%;
}
.intro-a .intro-main-t li{
    position: relative;
    padding: 1.2rem 2rem;
    background: #fff url('../images/ico-blank.png') no-repeat calc(100% - 2rem) 50% / 1.6rem;
    color: #222;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem; 
    letter-spacing: -0.036rem;
    transition: all .2s linear 0s;
    cursor: pointer;
}
.intro-a .intro-main-t li:hover{
    font-weight: 700;
    box-shadow: 6px 6px 28px 0px rgba(0, 0, 0, 0.25);
}
.intro-a .intro-main-t li + li{
    margin-top: 1.2rem;
}
.intro-a .intro-main-t li::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #001D63;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease 0s;
}
.intro-a .intro-main-t li:hover::before{
    opacity: 1;
}
.intro-a .intro-main-b{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
    position: relative;
    margin-top: 4rem;
    z-index: 2;
}
.intro-a .intro-main-b img{
    width: 21rem;
    object-fit: contain;
}
.intro-a .notice{
    display: flex;
    gap:4rem;
    flex:1;
}
.intro-a .box-notice{
    flex:1;
    padding:2.9rem 4rem;
    background: #fff;;
    border: 2px solid #F0F0F0;
    box-shadow: 6px 6px 28px 0px rgba(0, 0, 0, 0.06);
    transition: all .3s ease 0s;
    cursor: pointer;
}
.intro-a .box-notice:hover{
    border: 2px solid #001D63;
    box-shadow: 6px 6px 28px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-4rem);
}
.intro-a .box-notice .tag{
    color: #001D63;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.036rem;
}
.intro-a .box-notice .date{
    color: #999;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.intro-a .box-notice p{
    display: -webkit-box;;
    margin: 0.8rem  0 2rem;
    color: #555;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; 
    letter-spacing: -0.036rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: all .3s ease 0s;
}
.intro-a .box-notice:hover p{
    color: #222;
    font-weight: 500;
    text-decoration-line: underline;
}
@media screen and (max-width:768px) {
    .wrap.intro-a{
        height: auto;
        background: none;
    }
    .wrap.intro-a > *{
        display: none;
    }
    .wrap.intro-a .mo{
        display: block;
        width: 100%;
    } 
}
 /* //typeA - intro */
 /* typeB - intro */
.wrap.intro-b .mo{
    display: none;
}
.wrap.intro-b .innerframe-1860{
    max-width: 186rem;
    margin: auto;
    padding: 0 5rem;
}
.wrap.intro-b{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-intro-b{
    height: calc(100% - 11.5rem);
    background: url('../images/bg-intro-b.png') no-repeat 50% 50% / cover;
}
.bg-intro-b main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 7rem);
}
.intro-b header img{
    width:16rem;
    padding-top: 4rem;
}
.intro-b .intro-main-t >img{
    width: 100%;
    max-width: 80.3rem;
    margin: 0 auto;
}
.intro-b .intro-main-t nav{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    max-width: 78rem;
    margin: 0 auto;
    margin-top: 4rem;
}
.intro-b .intro-main-t nav > div{
    position: relative;
    width:calc(50% - 1rem);
    padding: 3rem;
    background: rgba(255, 255, 255, 0.90) url('../images/ico-arr-rigt02.png') no-repeat calc(100% - 3rem) 3rem / 3rem auto;
    backdrop-filter: blur(2px);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    box-sizing: border-box;
}
.intro-b .intro-main-t nav > div::Before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease 0s;
}
.intro-b .intro-main-t nav > div:hover{
    backdrop-filter: blur(4px);
    background:rgba(49, 168, 255, 0.40) url('../images/ico-arr-right03.png') no-repeat calc(100% - 3rem) 3rem / 3rem auto;;
}
.intro-b .intro-main-t nav > div:hover::Before{
    border: 1px solid rgba(255, 255, 255, 0.50);
}
.intro-b .intro-main-t nav > div p{
    margin-bottom: 1.2rem;
    color: #222;
    font-family: Pretendard;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.048rem;
    transition: all 0.2s ease 0s;
}
.intro-b .intro-main-t nav > div:hover p{
    color: #fff;
    }
.intro-b .intro-main-t nav > div span{
    color: #666;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.032rem;
    transition: all 0.2s ease 0s;
}
.intro-b .intro-main-t nav > div:hover span{
    color: #fff;
    opacity: 0.8;
}
.intro-b .intro-main-b{
    position: relative;
    height: 17.4rem;
}
.intro-b .intro-main-b > div{
    display: flex;
    align-items: stretch;
    position: absolute;
    right:0;
    width: calc(100% - 30rem);
    height: 100%;
    background: #fff;
}
.intro-b .main-b-banner{
    width: 27rem;
    height: 100%;
}
.intro-b .main-b-banner img{
    object-fit: cover;

}
.intro-b .main-b-cont{
    flex:1;
    display: flex;
}
.intro-b .tab{
    display: flex;
    gap:2.8rem;
    padding: 2rem 3rem;;
}
.intro-b .tab li{
    position: relative;
    color: #666;
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04rem;
    transition: all 0.1s ease 0s;
    cursor: pointer;
}
.intro-b .tab li.on{
    color: #222;
    font-weight: 600;
}
.intro-b .tab li + li::before{
    content: "";
    display: block;
    position: absolute;
    top:50%;
    left: -1.4rem;
    width: 0.4rem;
    height: 0.4rem;
    transform: translateY(-50%);
    background: #666;
    border-radius: 50%;
}
.wrap-notice{
    flex:1;
    height: 100%;
}
.intro-b .list-notice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 6.4rem);
    padding-left: 3rem;
    padding-right: 4.2rem;
    border-top: 0.1rem solid #eaeaea;
}
.intro-b .list-text{
    max-width: 44.9rem;
    width: 100%;
    object-fit: contain;
}
.intro-b .btn-arr{
    max-height: 6.4rem;
    height: 100%;
}
.intro-b .sns{
    width: 27rem;
    background: url('../images/img-introB-sns.png') no-repeat 50% 50% / 15rem auto;
    border-left: 0.1rem solid #eaeaea;
}
.intro-b footer{
    height: calc(100% - 79.6rem);
    border-top: 0.1rem solid #eaeaea;
}
.intro-b footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:768px) {
    .wrap.intro-b{
        height: auto;
        background: none;
    }
    .wrap.intro-b > *{
        display: none;
    }
    .wrap.intro-b .mo{
        display: block;
        width: 100%;
    } 
}
 /* //typeB - intro */