@keyframes ball {
  0% {
    top: 0;
  }
  40% {
    top:-5rem;
  }
  65% {
    top:0;
  }
  80% {
    top: -3rem;
  }
  to {
    top: 0;
  } 
}
.user-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 32.4rem;
  right: 0;
  padding: 1.7rem 2.5rem 1.7rem 1.7rem;
  width: 16rem;
  border-radius: 10rem 0rem 0rem 10rem;
  background: #122E7B;
  z-index: 10;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
.user-menu > p {
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2.2rem;
  text-transform: uppercase;    
}
.user-menu.open {
  width: 40rem;
}
.user-menu.open > p {
  display: flex;
}
.user-depth01 {
  display: none;
  position: absolute;
  top: 100%;    
  right: 0;
  z-index: 10;
}
.user-depth01.on {    
  display: block;
}
.user-depth01 > li > a {
  display: block;
  padding: 3rem 0 3rem 6.8rem;
  min-width: 18rem;
  color: #222;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.036rem;
  background: #FFF;
  border-bottom: 1px solid #EAEAEA;
}
.user-depth01 > li {
  position: relative;
}
.user-depth01 > li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8rem;
  height: 100%;
  background: #333333;
  z-index: 1;
}
.user-depth01 > li.on::before {
  background: #00E0FF;
}
.user-depth01 > li > a {
  position: relative;
}
.user-depth01 > li.on > a,
.user-depth01 > li > a:hover {
  text-decoration-line: underline;
  font-weight: 600;
}
.user-depth02 {
  position: absolute;
  right: 100%;
  top: 0;
  padding: 2.6rem 3rem;
  width: 18rem;
  background: #333;
}
.user-depth02 > li > a {
  display: block;
  padding: 0.7rem 0;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.036rem;
}
.user-menu img {
  width: 3.8rem;
  height: 3.8rem;
  transform: rotate(180deg);
}
.user-menu > p > span {
  color: #00E0FF;
}
.main-typeA-mo {
  display: none;
}
.wrap {
  font-size: 2.2rem;
}
.main-visual {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}
.main-visual::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  background: url(../images/logo-main-typeA.png) left top / 100% no-repeat;
  z-index: 5;
}
.main-visual::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 12.5rem;
  width: 100%;
  height: 100%;
  background: #fff url(../images/bg-main-visual.png) left bottom / 100% no-repeat;
  z-index: 5;
}
.visual-txt {
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
.visual-txt > p {
  color: #FFF;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.052rem;
}
.visual-txt > p > span {
  color: #00E0FF;
  font-weight: 700; 
}
/* .visual-txt > p > span.ball {
  position: relative;
  animation: ball 1s ease-in Alternate; 
  animation-delay: 1.5s;
} */
.visual-slide .swiper-slide {
  position: relative;
  height: 100vh;
}
.visual-slide .swiper-slide img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual-slide .swiper-slide:nth-child(2) .visual-txt {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3); 
}
.visual-slide .swiper-slide h1 {
  color: #FFF;
  font-size: 7rem;
  font-weight: 900;
  line-height: 7rem; 
  text-transform: uppercase;
}
.gnb-typeA {
  position: absolute;
  width: 84rem;
  right: 6.5rem;
  top: 4rem;
  z-index: 10;
}
.btn-page-area {
  display: flex;
  align-items: center;    
  position: absolute;
  bottom: 0;
  left: 12.5rem;
  padding: 2.4rem 1.6rem;
  background: #fff;
  z-index: 11;
}
.btn-page-area .visual-button-prev {
  transform: rotate(180deg);
}
.visual-button-prev,
.visual-button-next {
  width: 1.2rem;
  height: 1.7rem;
  cursor: pointer;
}
.visual-pagination {
  padding: 0 1.4rem 0 1.8rem;
  width: 9.2rem !important;
  color: #2957D7 !important;
  font-weight: 900;
  font-size: 2.7rem;
  line-height: 1;
}
.main-section {
  padding: 7% 5rem;
} 
.inner-1670 {
  margin: 0 auto;
  max-width: 167rem;
}
.main-today {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  max-width: 177rem;
  background: url(../images/bg-main-k.png) right 2rem center / 47% no-repeat;
}
.main-today > div {
  display: flex;    
  align-items: center;
}
.main-today .left-box {
  display: flex;    
  flex-direction: column;
  flex: 1;
}
.main-today .right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8rem;
  width: 38%;
}
.main-today .right-box > img {
  height: 8rem;
  width: auto;
}
.main-today .img-today {
  width: 29%;
}
.btn-more-main {
  padding-top: 7%;
  max-width: 30%;
  height: auto;
}
.main-related {
  background: #F3F4F4;
}
.m-tit-wrap {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
.main-related .main-tit {
  margin-bottom: 4rem;
  width: 38rem;
  height: auto;
}
.main-related > .inner-1670 {
  position: relative;
}
.related-slide .swiper-slide {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  height: 42rem;
  background: #F3F4F4;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #666;
}
.related-slide .swiper-slide:nth-of-type(1) {
  border-left: 1px solid #666;
}
.related-slide .swiper-slide:hover {
  background: #FFF;
  transition: all 0.3s ease-in-out;
}
.related-slide .swiper-slide > img {
  margin-bottom: 3rem;
}
.related-slide .swiper-slide > p {
  margin: 0 0 1.2rem 0;
  color: #333;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}
.related-slide .swiper-slide > span {
  display: block;
  position: relative;
  margin: 0 auto;
  color: #666;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
}
.related-slide .swiper-slide:hover > span {
  color: #2957D7;
  transition: all 0.3s ease-in-out;
}
.related-slide .swiper-slide > span::after  {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.related-slide .swiper-slide:hover > span::after {
  width: 100%;
  background: #2957D7;
}
.related-slide .swiper-wrapper {
  margin-top: 5rem;
}
.main-related .btn-main-slide {
  position: absolute;
  display: inline-block;
  right: 0;
  top: -2rem;
  width: 16rem;
  height: 6.5rem;
}
.swiper-pagination {
  height: 0.8rem !important;
}
.swiper-pagination-progressbar {
  background: #333 !important;
}
.swiper-pagination-progressbar-fill {
  background: #2957D7 !important;
}
.swiper-button-prev:after, 
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  width: 6.4rem !important;
  height: 6.4rem !important;
}
.swiper-button-prev {
  transform: rotate(180deg);
}
.main-program {
  padding: 0 0 8% 0;
  background: #F3F4F4;
}
.main-program > div {
  position: relative;
  display: flex;
  left: 0;
}
.main-program .txt-program {
  max-width: 37%;
  background: #F3F4F4;
  z-index: 10;
}
.program-slide {    
  margin-left: 5% !important;    
}
.program-slide .swiper-slide {
  max-width: 87rem;
  width: 100%;
}
.program-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-program .btn-main-slide {
  position: absolute;
  display: inline-block;
  right: 12%;
  bottom: -10rem;
  width: 16rem;
  height: 6.5rem;
}
.calendar-slide .swiper-wrapper {
  margin-top: 5rem;
}
.calendar-slide .swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.calendar-slide .swiper-slide + .swiper-slide {
  border-left: 1px solid #666;
}
.calendar-slide .swiper-slide .c-month {
  color: #2957D7;
  font-size: 2.5rem;
  font-weight: 600;
}
.calendar-slide .swiper-slide .c-day {
  color: #222;
  font-size: 6rem;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.calendar-slide .swiper-slide:hover .c-day{
  color: #2957D7;
}
.calendar-slide .swiper-slide .c-tit {
  position: relative;
  margin-top: 2rem;
  color: #333;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}
.calendar-slide .swiper-slide:hover .c-tit{
  text-decoration: underline;
}
/* .calendar-slide .swiper-slide .c-tit::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: #333;
  transition: all 0.3s ease-in-out;
} */
.calendar-slide .swiper-slide .c-date {
  margin-top: 8rem;
  color: #666;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
}
.calendar-slide .swiper-slide:hover .c-date{
  color: #566BA5;
}
.main-calendar .m-tit-wrap {
  position: relative;
}
.main-calendar .main-tit {
  margin: 0 2rem 4rem 0;
  width: 33.3rem;
}
.main-calendar .btn-main-slide {
  position: absolute;
  right: 0;
  bottom: 5rem;
  width: 22rem;    
  height: 4.3rem;
}
.main-calendar .btn-main-slide .calendar-button-next {
  left: 8.2rem;
}
.btn-main-more {
  position: absolute;
  right: 0;
  width: 6.4rem;
  height: 6.4rem;
}
.m-tit-wrap > div {
  display: flex;
  align-items: baseline;
}
.main-sns {
  background: #F3F4F4;
}
.main-sns .main-tit {
  margin-bottom: 4rem;
  width: 20rem;
  height: auto;
}
.sns-box {
  display: flex;
  flex-direction: column;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #666;
}
.sns-box .top-area {
  display: flex;
  align-items: stretch;
}
.sns-box .top-area > li.nth01,
.sns-box .top-area > li.nth03 {
  width: 25%;
}
.sns-box .top-area > li.nth02 {
  width: 50%;
}
.sns-box .top-area > li.nth02 div > img {
  width: 90%;
  height: auto;
}
.sns-box .top-area > li > div {
  position: relative;
  padding: 5rem;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #666;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.sns-box .top-area > li.nth02 > div {
  height: 100%;
} 
.sns-box .top-area > li.nth02::after,
.sns-box .top-area > li > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s linear;
}
.sns-box .top-area > li.nth02:hover::after,
.sns-box .top-area > li > div:hover::after {
  background-color: rgba(41, 87, 215, 0.90);
  z-index: 1;
}
.sns-box .top-area > li > div img {
  margin: 0 auto;
  width: 30.2rem;
  height: 22.3rem;
}
.sns-box .top-area > li p {
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}
.sns-box .top-area > li p > .bold {
  font-weight: 900;
}
.sns-box .top-area > li p.txt-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.5rem;
  z-index: 5;
} 
.sns-box .top-area > li p.txt-on > span {
  display: block;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}
.sns-box .top-area > li p.txt-on .bold {
  font-weight: 900;
}
.sns-box .top-area > li > div:hover p.txt-on {
  opacity: 1;
}
.bottom-area {
  padding: 5rem;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #666;
}
.footer {
  padding: 3rem 3.5rem;
  background: url(../images/bg-footer.png) right 0 top 0 / 30% auto no-repeat;
}
.img-mo {
  display: none;
}
.mo-wrap {
  max-width: 76.8rem;
  margin: 0 auto;
}
.btn-top {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 25rem;
  z-index: 10;
}
.btn-top.show {      
  opacity: 1;  
  transition: opacity 1s ease-in-out;     
}
.btn-top > img {
  width: 8rem;
  height: auto;
}
@media screen and (max-width:768px) {
  .main-typeA-mo {
    display: block;
  }
  .main-typeA-pc {
    display: none;
  }
  .main-typeA-mo > img {
    width: 100%;
    height: auto;
  }
  .img-mo {
    display: block;
  }
  .img-pc {
    display: none;
  }
}