.wrap {
  width: 100%;
  background: #111;
}
.wrap img{
  margin: 0 auto;
  max-width: 192rem;
  width: 100%;
}
.wrap-mo {
  width: 100%;
}
.wrap-mo img {
  margin: 0 auto;
  max-width: 76.8rem;
  width: 100%;
}
.mo-only {
  display: none;
}

@media screen and (max-width:768px) {
  .pc-only {
    display: none;
  }
  .mo-only {
    display: block;
  }
}