@keyframes masinScroll {
  0%{
    top:0;
  }
  100%{
    top:100%
  }
}
@keyframes v-progress {
  0%{
    width: 3.7rem;
  }
  100%{
    width: 100%;
  }
}
/* main */
.main-content{
  position: relative;
  margin-top: 100vh;
  z-index: 2;
  background: #fff;
}
.wrap-main-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;;
}
.tit-main{
  position: relative;
  margin-bottom: 3rem;
  padding-top:1.2rem;
  color:#fff;
}
.tit-main::before,.tit-main::after{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: 0;
  height: 0.2rem;
}
.tit-main::before{
  width: 10rem;
  background: #fff;
  opacity: 0.5;
}
.tit-main::after{
  width: 4rem;
  background: var(--color-gr);
}
.tit-main + p{
  color:#fff;
}
.tab-main-slide{
  display: flex;
  gap:2rem;
}
.tab-main-slide li a{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 13rem;
  height: 5rem;
  padding: 0 3rem;
  border-radius: 5rem;
  background: var(--color-bl02);
  color:#fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.tab-main-slide li.on a{
  background: var(--color-gr);
}

/* main - visual */
.main-visual{
  position: fixed;
  top:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.visual-slide{
  width: 100%;
  height: 100%;
}
.visual-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual-slide li{
  position: relative;
  height: 100%;
}
.visual-slide .cont-m-visu{
  position: absolute;
  top:52.3%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
.cont-m-visu span{
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 28.64px;
  letter-spacing: -0.02em;
}
.tit-m-visu{
  margin-bottom: 2rem;
  font-size: 9rem;
  font-weight: 700;
  line-height: 10rem;
  letter-spacing: -0.02em;
}
.txt-m-visu{
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 45.35px;
  letter-spacing: -0.02em;
}
.visual-scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.09px;
  letter-spacing: -0.02em;
  z-index: 2;
  overflow: hidden;
}
.visual-scroll p{
  margin-bottom: 5.7rem;
}
.visual-scroll .scrollbar{
  position: relative;
  width: 0.1rem;
  height: 9.4rem;
  background: #fff;
}
.visual-scroll .scrollbar span{
  display: block;
  position: absolute;
  top:0;
  left: -0.1rem;
  width: 0.3rem;
  height: 3rem;
  background: #fff;
  animation: masinScroll 1.5s 0s infinite ease;
}
.controll-m-visu{
  display: flex;
  gap:1.5rem;
  position: absolute;
  left: 50%;
  bottom:12.6rem;
  transform: translateX(-50%);
  z-index: 2;
}
.controll-m-visu .next-m-visu,.controll-m-visu .prev-m-visu{
  width: 3.5rem;
  height: 3.5rem;
}
.move-m-visu{
  width: 1.5rem;
}
.pasin-m-visu{
  display: flex;
  gap:1.5rem;
  width: auto!important;
  color:#fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
.pasin-m-visu .swiper-pagination-bullet{
  display: flex;
  align-items: center;
  gap:1.5rem;
  width: auto;
  height: auto;
  margin: 0!important;
  background: none;
  opacity: 1;
}
.visual-progress{
  display: none;
  width: 15rem;
  height: 0.2rem;
  background: rgb(255,255,255,0.5);
}
.pasin-m-visu .swiper-pagination-bullet-active .visual-progress{
  display: block;
}
.visual-progress > span{
  display: block;
  width: 3.7rem;
  height: 100%;
  animation: v-progress 3.3s 0s infinite linear;
  background: var(--color-gr);
}
/* main - company*/
.main-company{
  padding: 5rem 0;
  background: #060621;
  color:#fff;
}
.main-company > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:6rem;
}
.m-company-l{
  max-width: 97.3rem;
  flex:1;
}
.m-company-r{
  width: 45rem;
}
/* main product */
.main-product{
  padding: 14rem 0;
  background: var(--color-navy);
}
.wrap-slide-product{
  overflow: hidden;
}
.slide-product{
  display: none;
}
.slide-product.on{
  display: block;
}
.slide-product li .img-m-product img{
  transition: all .3s ease 0s;
}
.slide-product li:hover .img-m-product img{
  transform: scale(1.08);
}
.slide-product .tit-product{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2rem;
  margin-top: 0.5rem;
  font-family: 'outfit';
  color:#fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}
.slide-product .tit-product span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
}
.slide-product li:hover .tit-product span{
  border: none;
  background: var(--bg-gra02);
}
.slide-product .tit-product span img{
  width: 2.4rem;
  transition: all .3s ease 0s;
}
.slide-product li:hover .tit-product span img{
  transform: rotate(-45deg);
}
.controll-m-news,.controll-m-product{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.5rem;
  margin-top: 3rem;
}
.controll-m-product{
  display: none;
}
.controll-m-news .prev-m-news,.controll-m-news .next-m-news,
.controll-m-product .prev-m-product,.controll-m-product .next-m-product{
  width: 3.5rem;
}
.pasin-m-news.swiper-pagination-progressbar.swiper-pagination-horizontal,
.pasin-m-product.swiper-pagination-progressbar.swiper-pagination-horizontal{
  position: relative;
  width: 38.3rem;
  height: 0.2rem;
  background: rgb(255,255,255,50%);
}
.pasin-m-news.swiper-pagination-progressbar.swiper-pagination-horizontal > span,
.pasin-m-product.swiper-pagination-progressbar.swiper-pagination-horizontal > span{
  background: var(--color-gr);
}
.stop-m-news,.stop-m-product{
  width: 1.5rem;
}
.controll-m-news .play,.controll-m-product .play{
  display: none;
}
/* main - business */
.main-business{
  padding: 14rem 0;
  background: var(--color-l-bl) url('../images/bg-m-busi.png') no-repeat 100% 50% / 100% auto;
  overflow: hidden;
}
.main-business .tit-main,.main-business .tit-main + p{
  color: var(--color-navy);
}
.main-business .tit-main::before{
  background: var(--color-navy);
}
.slide-busi{
  display: none;
}
.slide-busi.on{
  display: block;
}
.slide-busi ul{
  display: flex;
}
.slide-busi li{
  padding: 3rem;
  border-radius: 2rem;
  background: var(--color-navy);
  text-align: center;
}
.slide-busi .tit-m-busi{
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-l-bl);
  color: var(--color-l-bl);
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
}
.slide-busi img{
  margin: 3rem auto;
  width: 15rem;;
}
.slide-busi p{
  min-height: 7.1rem;
  color: var(--color-l-bl);
}
/* main news */
.main-news{
  padding: 14rem 0 10.6rem;
  background:url('../images/bg-m-news.png') no-repeat 100% 0 / cover;
}
.main-news .wrap-main-top + div{
  overflow: hidden;
}
.slide-news{
  display: none;
}
.slide-news.on{
  display: block;
}
.slide-news li{
  border: 2px solid #DBDBDB;
  border-radius: 2rem;
  background: #fff;
  overflow: hidden;
  transition: border-color .3s ease 0s;
}
.slide-news li:hover{
  border-color: var(--color-gr);
}
.img-m-news{
  aspect-ratio: 1 / 0.721;
}
.img-m-news img{
  height: 100%;
  object-fit: cover;
}
.cont-m-news{
  padding: 3rem;
  color: var(--color-navy);
}
.tit-m-news{
  color: var(--color-navy);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 31.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont-m-news p{
  height: 7rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: var(--color-navy);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.cont-m-news  span{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 23.4px;
}
/* main- footer slide */
.footer-slide{
  padding: 3rem;
  overflow: hidden;
}
.footer-slide .swiper-wrapper{
  transition-timing-function: linear;
}

@media (max-width:1200px){
  /* main */
  .wrap-main-top{
    flex-wrap: wrap;
    gap: 3rem;
  }
}
@media (max-width:1150px){
  /* main */
  .main-company > div{
    flex-direction: column;
    align-items: center;
    gap:3rem;
  }
  .main-news{
    overflow: hidden;
  }
  .main-news .wrap-main-top + div{
    overflow: visible;
  }
  .main-product .wrap-main-top{
    position: relative;
    padding-bottom: 8rem;
  }
  .main-product .tab-main-slide{
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: calc(100% + 10rem);
    padding: 0 5rem;
    overflow-x: auto;
  }
}
@media (max-width:768px){
  /* main */
  .wrap-main-top{
    margin-bottom: 3rem;
  }
  .tit-main{
    margin-bottom: 1.5rem;
    padding-top: 0.7rem;
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
  .tit-main::before{
    width: 7.5rem;
  }
  .tit-main::after{
    width: 3rem;
  }
  .tab-main-slide li a{
    min-width: unset;
    height: 4.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 21.48px;
  }
  .visual-slide .cont-m-visu{
    top: 41.8%;
  }
  .cont-m-visu span{
    font-size: 1.6rem;
    line-height: 19.09px;
    letter-spacing: -0.02em;
  }
  .tit-m-visu{
    margin-bottom: 1.5rem;
    font-size: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: -0.02em;
  }
  .txt-m-visu{
    font-size: 2rem;
    line-height: 23.87px;
    letter-spacing: -0.02em;
  }
  .controll-m-visu{
    bottom: unset;
    top:63%;
  }
  .controll-m-visu{
    gap:1.2rem;
  }
  .controll-m-visu .next-m-visu, .controll-m-visu .prev-m-visu{
    width: 2.5rem;
  }
  .pasin-m-visu{
    gap:1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  .visual-progress{
    width: 11rem;
  }
  .visual-scroll{
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: -0.02em;
  }
  .visual-scroll p{
    margin-bottom: 2rem;
  }
  .visual-scroll .scrollbar{
    height: 8rem;
  }
  .visual-scroll .scrollbar span{
    height: 2.5rem;
  }
  .main-company{
    padding: 6rem 0;
  }
  .m-company-r{
    max-width: 30rem;
    width: 100%;
  }
  .main-product,.main-business{
    padding: 6rem 0;
  }
  .main-product .tab-main-slide{
    gap:2rem;
    left: -2rem;
    width: calc(100% + 4rem);
    padding: 0 2rem;
  }
  .main-product .tab-main-slide li a{
    min-width: unset;
  }
  .slide-product .tit-product{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 36.4px;
  }
  .slide-product .tit-product span{
    width: 4rem;
    height: 4rem;
  }
  .slide-product .tit-product span img{
    width: 1.9rem;
  }
  .controll-m-product{
    display: flex;
  }
  .slide-busi li{
    padding: 2rem 3rem;
  }
  .slide-busi .tit-m-busi{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }
  .slide-busi img{
    margin: 2rem auto;
  }
  .slide-busi li p{
    word-break: break-all;
  }
  .slide-busi.slide01 li:first-of-type br{
    display: none;
  }
  .main-business .tab-main-slide,.main-news .tab-main-slide{
    width: 100%;
    gap: 1.5rem;
  }
  .main-business .tab-main-slide li,.main-news .tab-main-slide li{
    flex:1;
  }
  .main-news{
    padding: 6rem 0 4rem;
  }
  .controll-m-news,.controll-m-product{
    padding: 0;
  }
  .pasin-m-news.swiper-pagination-progressbar.swiper-pagination-horizontal,
  .pasin-m-product.swiper-pagination-progressbar.swiper-pagination-horizontal{
    flex:1;
    width: auto;
  }
  .cont-m-news{
    padding: 2rem;
  }
  .tit-m-news{
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .cont-m-news p{
    height: 4rem;
    margin-top: 0.9rem;
    margin-bottom: 1.5rem;
    -webkit-line-clamp: 2;
  }
  .cont-m-news span{
    font-size: 1.4rem;
    line-height: 18.2px;
  }
  .footer-slide{
    padding: 1.5rem;
  }
}
@media (max-width:375px){
  /* main */
  .pasin-m-visu{
    flex:1;
  }
  .move-m-visu{
    width: 1rem;
  }
  .swiper-pagination-bullet-active{
    flex:1;
  }
  .visual-progress{
    width: auto;
    flex:1;
  }
}